@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Tranning.Models.TrainerTopicDetail

@{
    ViewData["Title"] = "Edit Assignn Trainer To Topic";
    Layout = "~/Views/Shared/_TrainingStaffLayout.cshtml";
}
<div class="row vh-100">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5> Edit Assignn Trainer To Topic</h5>
            </div> 
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="Update">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="topicid">Course</label>
                                <select asp-for="topicid" class="form-control" asp-items="@(new SelectList(ViewBag.Stores, "Value", "Text"))" id="topicDropdown">
                                </select>
                                <span class="text-danger" asp-validation-for="topicid"></span>
                            </div>

                            <script>
                                // Set the selected option using JavaScript
                                document.getElementById("topicDropdown").value = "@Model.topicid";
                            </script>


                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="userid">Trainee</label>
                                <select asp-for="userid" class="form-control" asp-items="@(new SelectList(ViewBag.Stores1, "Value", "Text"))" id="userDropdown">
                                </select>
                                <span class="text-danger" asp-validation-for="userid"></span>
                                <script>
                                    // Set the selected option using JavaScript
                                    document.getElementById("userDropdown").value = "@Model.userid";
                                </script>
                            </div>
                        </div>

                        <div class="sm-12 col-md-6">
                            <button class="btn btn-primary my-3" type="submit"> Save </button>
                            <a class="btn btn-info ms-3 mb-0" href="@Url.Action("Index","TrainerTopic")">Back to lists</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>